<!DOCTYPE html>
<html>
<head>

  <title>The Times Thermomether #editorslab</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" name="viewport">

  <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>

<body>

  {% block content %}
  {% endblock %}

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/app.js"></script>

</body>
</html>
